astro-datalab==2.24.0
astro-prospector==1.4.0
astro-prost==1.2.13
astro-sedpy==0.4.0
astroquery==0.4.7
bokeh==3.7.3
coverage==7.9.0
crispy-bootstrap4==2025.6
Django==5.1.14
django_celery_results==2.6.0
django-bootstrap4==25.2
django-celery-beat==2.8.1
git+https://github.com/jorenham/django-cron.git@cec7465#egg=django-cron  # 2025/09/10 Replaced with fork due to v0.6.0 incompatibility with Django v5.1. 
django-filter==25.1
django-latexify==0.3
django-revproxy==0.13.0
django-silk==5.4.3
django-tables2==2.7.5
djangorestframework==3.16.1
django-cors-headers==4.6.0
dustmaps==1.0.14
dynesty==2.1.5
extinction==0.4.7
flower==2.0.1
fsps==0.4.7
gunicorn==23.0.0
minio==7.2.15
mozilla-django-oidc==4.0.1
mysqlclient==2.2.7  # TODO: This can be removed if using PostgreSQL
pydantic==2.5.0
pydantic-settings==2.1.0
psycopg2-binary==2.9.11
photutils==2.2.0
redis==7.0.1
sbi==0.22.0
scikit-image==0.25.2
torch==2.9.0
torchvision==0.24.0
watchdog==6.0.0
